@page "/"
@using Hydro
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>This container demonstrates changing the property of the parent impacts nested components. Here we uses two level nested components. The same principle applies to unlimited nested components.</h2>
<container></container>
