@model Component1.Pages.Components.Message

<div>
    <h1>Text Property: @Model.Text</h1>
    <h2>Text2 Property: @Model.Text2</h2>

    <button on:click="@(() => Model.TriggerRender())" class="btn btn-primary">Trigger</button>
</div>