@page "/"
@using Hydro
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>This container demonstrates changing the property of the parent impacts the child components</h2>
<container></container>
