<html>
<head>
    <meta name="hydro-config" />
    <script defer src="~/hydro/hydro.js" asp-append-version="true"></script>
    <script defer src="~/hydro/alpine.js" asp-append-version="true"></script>
</head>
<body>
    @RenderBody()

    <script src="/_framework/aspnetcore-browser-refresh.js"></script>
</body>
</html>