@page "/"
@using Hydro
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <message></message>
        </div>
        <div class="col-md-6">
            <message></message>
        </div>
    </div>
    <message-button/>
</div>
