@page "/"
@using Hydro
@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row mb-3">
        <div class="col-md-6">
            <message filter="left"></message>
        </div>
        <div class="col-md-6">
            <message filter="right"></message>
        </div>
    </div>
    <p>When you click this message, the action will randomise the message subject between "left" and "right". You will see that 
        the components receive different messages based on the event subject.
    </p>
    <message-button/>
</div>
