@model Component3.Pages.Components.Container


<div>
    <div class="row mt-3">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>This demonstrates that `MountAsync` is called after `Mount` and `RenderAsync` is called after `Render`.</p>
                    <message></message>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <p>Here we just hook into `Mount` and `Render`.</p>
                    <message2></message2>
                </div>
            </div>
        </div>
    </div>
</div>
